#wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('/Content/img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 3%;
}

#main {
    width: 95%;
    height: 75vh;
    background: rgba(255,255,255,0.75);
    padding: 20px;
    margin: 20%;
    overflow-y:auto;
    overflow-x:hidden;
    margin: auto;
}

header {
    display: none;
}

h1 {
    font-size: 28px;
}

p {
    font-size: 16px;
    line-height: 22px;
}

#footer {
    background-color: #008299;
    color: white;
    text-align: center;
    width: 100%;
}

#footer a {
    color: black;
}

#footer i {
    padding-top: 15px;
}

#footer a:hover {
    color: white;
    text-decoration-line: none;
}

#footer h1 {
    font-size: 16px;
    padding-top: 8px;
}

#footer h2 {
    font-size: 12px;
}

#footer h3 {
    font-size: 10px;
}